<div class="row">
    <div class="col-md-12">
        <p>Add new Servers or Blueprints</p>
        <label> Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <label>Registration number</label>
        <input type="text" class="form-control" [(ngModel)]="newServerRegistration">
        <label>Car Model</label>
        <input type="text" class="form-control" [(ngModel)]="newServerModel">
        <label>Registration region</label>
        <input type="text" class="form-control" [(ngModel)]="newServerRegion">

        <br>
        <button type="button" class="btn btn-primary" style="margin: 20px;" (click)="onAddServer()">Add Server</button>

        <button type="button" class="btn btn-primary" style="margin: 20px;" (click)="onAddBlueprint()">Add Server Blueprint</button>

    </div>
</div>