<div class="container">
    <div class="row">
        <div class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <button class="btn btn-primary" (click)="startGame()">Start Game</button>
                    </th>
                    <th scope="col"> 
                        <button class="btn btn-secondary" (click)="pauseGame()">Pause Game</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Here we go <span id="num">0</span></td>
                    <td>test 2</td>
                    <td>test 3</td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>test test 1</td>
                    <td>test test 2</td>
                    <td>test test 3</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>